name: Metrics
on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:
  push:
    branches:
      - master
      - main
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: muhammadibn3bdullah
          template: classic
          base: ""
          config_timezone: Africa/Cairo
          
          # الإعدادات الجديدة (المضمونة)
          plugin_repositories: yes
          # قفلنا المثبت عشان هو اللي عامل المشكلة
          plugin_repositories_pinned: 0
          # الترتيب حسب "أحدث رفع كود"
          plugin_repositories_order: pushed
          # يعرض أعلى 2 بس
          plugin_repositories_limit: 3
          plugin_repositories_affiliations: owner
